
<div class="well">
	<h3> What is your name? </h3>

	<form action="/newplayer" method="post">
	  Name: <input type="text" name='player_name'/>
	  <input id='name_button' type="submit" class='btn'/>
	</form>
</div>