
<div class="container">
	<h3> What's is your name? </h3>

	<form action="/newplayer" method="post">
	  Name: <input type="text" name='player_name'/>
	  <input type="submit" class='btn'/>
	</form>
</div>